@import "bootstrap-sprockets";
@import "bootstrap";

$dark: #292b2c;

/* common */

body {
  padding-top: 60px;
}

.background-dark{
  color: white;
  background-color: $dark;
}

/* header */
#logo{
  float: left;
  font-weight: bold;
  color: white;
  font-size: 0.9em;
  letter-spacing: -1px;
  padding-top: 0px;
  text-decoration: none;
}

.icon-bar{
  width: 25px;
  height: 4px;
  background-color: white;
  margin: 4px 0;
}

.menu-button{
  float: right;
  background-color: $dark;
}
