@import "bootstrap-sprockets";
@import "bootstrap";

$dark: #292b2c;

/* common */

body {
  padding-top: 60px;
}

.background-dark{
  color: white;
  background-color: $dark;
}

.background-dark li a{
  color: white;
  text-decoration: none;
}

/* header */
#logo{
  float: left;
  font-weight: bold;
  color: white;
  font-size: 0.9em;
  letter-spacing: -1px;
  padding-top: 0px;
  text-decoration: none;
}

.icon-bar{
  width: 25px;
  height: 4px;
  background-color: white;
  margin: 4px 0;
}

.menu-button{
  float: right;
  background-color: $dark;
}

/* root page */
.content{
  align-content: center;
}

#title{
  text-align: center;
  margin: 40px auto;
}

.login-card{
  position: relative;
  margin: 40px auto;
  padding: 0px 40px 40px;
  background: #fff;
  border: 1px solid #ccc;
}

/* form */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.btn-block{
  margin: 10pt auto;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.checkbox span{
  margin-left: 20px;
}
