<header class="navbar navbar-inverse navbar-fixed-top">
  <div class='container'>
    <h1>
      <%= link_to "就活カレンダー", root_path, id: "logo", class: "glyphicon glyphicon-calendar" %>
    </h1>
    <div class="dropdown background-dark">
      <button class="btn dropdown-toggle menu-button" type="button" data-toggle="dropdown" aria-expanded="false">
        <%= render 'layouts/hamburger-icon' %>
	    </button>
      <ul class="dropdown-menu">
        <li>a</li>
        <li>a</li>
        <li>a</li>
      </ul>
    </div>
  </div>
</header>
